<h3 style="padding-top: 20%;">Galaxy Gem Students Portal Signup Form</h3>
    
<form style="margin-bottom: 35%;" action="/signup" method="POST">
<div class="row">

    <div class="col-md-5">
     {{#each errors}}
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{text}}
      </div>
     {{/each}}

        <div class="form-group">
            <label for="username">Fullname</label>
            <input type="text" name="username" id="username" value="{{fullname}}" class="form-control" required>
{{!-- 
            <label for="gender">Gender</label>
            <input type="text" name="gender" id="gender" value="{{gender}}" class="form-control" required >

            <label for="birthDate">Date of birth</label>
            <input type="text" name="birthDate" id="birthDate" value="{{birthDate}}" class="form-control" required > --}}

            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="{{email}}" class="form-control" required >
{{!--             
            <label for="address">Student's Address</label>
            <input type="text" name="address" id="address" value="{{address}}" class="form-control" required>     
            
            <label for="country">Country of Origin</label>
            <input type="text" name="country" id="country" value="{{country}}" class="form-control" required > --}}
     
            
        </div>
    </div>



    <div class="col-md-5">
           <div class="form-group">
              

            {{!-- <label for="parentsFullname">Parent's Fullname</label>
            <input type="text" name="parentsFullname" id="parentsFullnamee" value="{{parentsFullname}}" class="form-control" required>
       
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber" value="{{phoneNumber}}" class="form-control" required >
             
             <label for="occupation">Parent's Occupation</label>
            <input type="text" name="occupation" id="occupation" value="{{occupation}}" class="form-control" required >

            <label for="parentsAddress">Parent's Address</label>
            <input type="text" name="parentsAddress" id="parentsAddress" value="{{parentsAddress}}" class="form-control" required > --}}

            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="{{password}}" class="form-control">
      
            <label for="password">Confirm Password</label>
            <input type="password" name="password2" id="password2" value="{{password2}}" class="form-control" required>
        </div>       
    </div>

       



</div>
        <button style="margin-left: 68%;" type="submit" class="btn btn-lg btn-primary">Signup</button>        
</form>
    
